.std-grpReg-container-inner{
     margin: auto;
    padding: 0;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #FF5E37;
}

.std-grpReg-form{
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px 10px 50px 10px;
    background-color: #F3F2F7F2;
    border-radius: 0px 60px 0px 60px;
    box-shadow: 0px 24px 53px #0000001a, 0px 96px 96px #00000017, 0px 215px 129px #0000000d, 0px 383px 153px #00000003, 0px 598px 167px transparent;
    height: auto;
    justify-content: center;
    align-items: center;
}

.std-grpReg-form-inner{
    display: block;
    padding: 5px 50px;
}

.std-grpReg-form-inner .main-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.std-grpReg-form-table{
    margin: 0;
    width: 100%;
    border-spacing: 0;
    max-width: max-content;
    border-collapse: collapse;
}

.std-grpReg-form-table-head-none{
    border: none !important;
}

th {
  font-family: "Roboto Flex-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  align-items: center;
    color: #292929;
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #292929;
}

.std-grpReg-form-table th:nth-child(3),
.std-grpReg-form-table th:nth-child(4){
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
}

.std-grpReg-form-table tbody tr td:nth-child(3),
.std-grpReg-form-table tbody tr td:nth-child(4) {
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
}

.std-grpReg-form-label{
    border: none !important;
    color: #292929;
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    justify-content: start;
    margin-right: 50px;
}

td {
  padding: 15px 10px;
    vertical-align: middle;
}

.std-grpReg-form-input{
    background-color: #ffffff;
    border-radius: 8px;
    height: 40px;
    width: 190px;
    border: none !important;
    padding: 0px 15px;
    color:  #949494;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 5px 10px #0000001a, 0px 18px 18px #00000017, 0px 41px 25px #0000000d, 0px 73px 29px #00000003, 0px 115px 32px transparent;
    box-sizing: border-box;
    outline: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.std-grpReg-form-label-sub{
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    justify-content: start;
    color: #29292980;
    margin-left: 10px;
    margin-top: 0;
}

.std-grpReg-form-inner-section2 {
  flex: 1;
}

.std-grpReg-form-inner-sec2-inner{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

.sec2-rearea,
.sec2-title,
.sec2-cosup-select,
.sec2-sup-select{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: start;
    padding: 0;
}

.sec2-sup-select,
.sec2-cosup-select{
    margin-top: 35px;
}

.sec2-cosup-select{
    margin-left: -445px;
}

.sec2-title{
    grid-column: 1 / span 4;
    grid-row: 1;
}

.sec2-rearea{
    grid-column: 1 / span 4;
    grid-row: 2;
}

.sec2-sup-select{
    grid-column: 1 / span 2;
    grid-row: 3;
}

.sec2-cosup-select{
    grid-column: 3 / span 4;
    grid-row: 3;
}

.std-grpReg-form-inner-sec2-inner .std-grpReg-form-label{
 margin-left: 25px;
 width: 180px;
}

.std-grpReg-form-label-sub2{
    position: absolute;
    font-family: "Roboto Flex-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    justify-content: start;
    color: #29292980;
    margin-left: 30px;
    margin-top: 110px;
}

.std-grpReg-form-inner-sec2-inner .std-grpReg-form-input{
    width: 100%;
    min-width: 785px;
    margin-left: 50px;
    padding: 0px 15px;
}

.std-grpReg-form-select-supervisor,
.std-grpReg-form-select-cosupervisor {
    height: 40px;
    min-width: 200px;
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 300;
    font-family: "Roboto Flex-Regular", Helvetica;
    color: #00000080;
    box-shadow: 0px 5px 10px #0000001a, 0px 18px 18px #00000017, 0px 41px 25px #0000000d, 0px 73px 29px #00000003, 0px 115px 32px transparent;
}

.std-grpReg-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    padding: 15px 150px;
    border-radius: 30px;
    border: none;
    background-color: #1B6C86;
    color: #F3F2F7;
    font-family: 'Roboto Mono', Helvetica;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 18px 18px #00000017;
    box-shadow: 0px 5px 10px #0000002b, 0px 18px 18px #00000017;
    cursor: pointer;
}